/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    h1{
        font-size: 28pt;
    }
    h2{
        font-size: 20pt;
    }
    h3{
        font-size: 16pt;
    }
    h4{
        font-family: var(--paragraph-font);
        font-size: 12pt;
    }
    .logo{
        width: 150px;
        padding-right: 30px;
    }    
    nav li{
        flex: 3;
    }
    .photo-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-imgs:hover{
        box-shadow: 0 0 20px #111;
        transition: 0.3s;
    }
    .articles img{
        float: right;
    }
    .contact{
        padding: 30px;
        height: 360px;
    }
    #contact-map{
        height: 360px;
    }
}