@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

$l-gray: #bababa;
$gray: #8d8d8d;
$l-blue: #a6cbeb;
$blue: #4c96d7;
$d-gray: #3a3a3a;
$white: #ffffff;

$font: "Aldrich",
sans-serif;
$small: 768px;

body {
  margin: 0;

  @media (min-width: $small) {
    padding: 5px 20px;
    background-image: url(../images/site/checkerboard.jpg);
  }
}

#content {
  background-color: $white;

  @media (min-width: $small) {
    border: 5px solid $blue;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1200px;
  }

}

main {
  padding: 10px 10px 30px 10px;
}

.small{
  opacity: .5;
  font-size: 80%;
}

p,
h1,
h2,
h3,
a,
li,
button,
label {
  font-family: $font;
}

a {
  color: $d-gray;
}

h1 {
  font-size: 1.3rem;
}

h2, button {
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}

li {
  font-size: .8rem;
}

p {
  font-size: .8rem;
}
@media (min-width: $small){
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  
  li {
    font-size: 1rem;
  }
  
  p {
    font-size: 1rem;
  }
}

//************************ HEADER ************************
.account {
  float: right;
  margin: 20px;
  text-decoration: none;
  &:hover{
    border-bottom: 2px solid $blue;
  }
}

//************************ NAV ************************
nav {
  background-color: $d-gray;

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;

    li {
      flex: 0;
      text-align: center;
      padding: 20px 3%;

      @media (min-width: $small) {
        padding: 20px;
        flex: 0;
      }

      &:hover {
        background-color: $blue;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}


//************************ HOME - MAIN ************************
#image-feat {
  position: relative;
  margin: 30px 0;

  .features {
    position: absolute;
    top: 0;
    color: $blue;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #feat-title {
      margin: 0;
    }
    @media (min-width: $small){
      left: 30px;
    }
  }

  img#delorean {
    width: 100%;
  }

  button#own-today {
    display: block;
    background-color: $blue;
    color: black;
    padding: 20px 30px;
    border: none;
    margin: 20px auto;
    @media (min-width: $small){
      position: absolute;
      top: 70px;
      left: 30px;
    }
  }
}

#rev-up {
  @media (min-width: $small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  #reviews {
    @media (min-width: $small) {
      order: 2;
    }

    ul li {
      padding: 5px 0;
    }
  }

  #upgrades {
    @media (min-width: $small) {
      order: 1;
    }

    .up-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

      figure {
        margin: 0 0 1rem 0;
        text-align: center;

        .upgrade-single-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: $blue;
          border: 1px solid $d-gray;
        }
      }
    }
  }
}

//************************ FORMS ************************
label{
  display: block;
  padding: 15px 0 5px 0; 
}

button{
  display: block;
  margin: 10px 0;
}

//************************ FOOTER ************************
footer {
  border-top: 5px solid $d-gray;
  text-align: center;
}