:root {
    --color1: #10B7AF;
    
    --heading-font: 'Gabriela', serif;
    --paragraph-font: 'Roboto', sans-serif;
}

main{
    max-width: 400px;
    margin: 0 auto;
}
#task-board{
    margin: 20px 0;
}
button.no-border{
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-family: var(--paragraph-font);
}
button.no-border:hover{
    background-color: var(--color1);
}

#all_Task_display{
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
#all_Task_display p{
    margin: 0;
    padding: 10px 5px;
}
li{
    list-style-type: none;
}
p.checked{
    text-decoration: line-through;
}

/**************************** FOOT ****************************/
#task-foot{
    border-radius: 4px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#task-foot p{
    margin: 20px;
}
#foot-buttons button{
    border: none;
    background-color: transparent;
    font-family: var(--paragraph-font);
    padding: 20px 15px;
}
#foot-buttons button:hover{
    background-color: var(--color1);
}
#foot-buttons button.current{
    background-color: var(--color1);
}

/**************************** NEW TASK ****************************/
#new-task{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-gap: 5px;
}
#new-task input{
    border-radius: 4px;
    border: 1px solid black;
    font-size: 18px;
    font-family: var(--paragraph-font);
}
#new-task button{
    border-radius: 4px;
    width: 50px;
    height: 40px;
    border: none;
    background-color: var(--color1);
}
#new-task button:hover{
    box-shadow: 0 0 5px black;
}
