$card-width: 500px;
$large-shape: 120px;
$small-shape: 40px;
$num-size: 80px;
$color: red;

@supports (display: grid) {
    @import 'partials/grid-partial.scss';
}
@supports not (display: grid) {
    @import 'partials/flex-partial.scss';
}

.card-front{
    border: 1px solid black;
    border-radius: 5px;
    width: $card-width;
    height: $card-width * 1.4;
}
svg.red{
    fill: $color;
}
div svg{
    width: $large-shape;
}
div.num svg{
    width: $small-shape;
    height: $small-shape;
}
.flip{
    transform: rotate(180deg);
}
p{
    font-size: $num-size;
    margin: 0 0 10px 0;
    color: $color;
}
