@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin: 0;
}

@media (min-width: 480px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

@media (min-width: 480px) {
  h3 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 40px;
  }
}

a {
  font-family: "Raleway", sans-serif;
  color: #003547;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.summary a {
  color: #f8a293;
}

body,
.page-wrapper {
  margin: 0;
}

@-webkit-keyframes animatePalmLeft {
  0% {
    -webkit-transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg);
            transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg);
  }
  25% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
  }
  50% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(5deg);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(5deg);
  }
  75% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
  }
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg);
            transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg);
  }
}

@keyframes animatePalmLeft {
  0% {
    -webkit-transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg);
            transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg);
  }
  25% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
  }
  50% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(5deg);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(5deg);
  }
  75% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(5deg);
  }
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg);
            transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg);
  }
}

@-webkit-keyframes animatePalmRight {
  0% {
    -webkit-transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg) scaleX(-1);
            transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg) scaleX(-1);
  }
  25% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
  }
  50% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(-5deg) scaleX(-1);
  }
  75% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
  }
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg) scaleX(-1);
            transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg) scaleX(-1);
  }
}

@keyframes animatePalmRight {
  0% {
    -webkit-transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg) scaleX(-1);
            transform: translateZ(0px) translateY(0) translateX(0) skewY(0deg) scaleX(-1);
  }
  25% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
  }
  50% {
    -webkit-transform: translateZ(5px) translateY(5px) translateX(5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(5px) translateY(5px) translateX(5px) skewY(-5deg) scaleX(-1);
  }
  75% {
    -webkit-transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
            transform: translateZ(-5px) translateY(-5px) translateX(-5px) skewY(-5deg) scaleX(-1);
  }
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg) scaleX(-1);
            transform: translateZ(0px) translateY(0px) translateX(0px) skewY(0deg) scaleX(-1);
  }
}

header,
.summary {
  background-color: #003547;
  color: #fff;
  padding: 30px;
  text-align: center;
}

header h1,
.summary h1 {
  position: relative;
  z-index: 50;
}

header h1::before,
.summary h1::before {
  content: url(icons/palm-pink.svg);
  position: absolute;
  left: 0;
  z-index: 1;
  float: left;
  width: 20%;
  -webkit-animation: animatePalmLeft 10s .5s ease infinite;
          animation: animatePalmLeft 10s .5s ease infinite;
}

header h1::after,
.summary h1::after {
  content: url(icons/palm-pink.svg);
  position: absolute;
  right: 0;
  z-index: 1;
  float: right;
  width: 20%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-animation: animatePalmRight 10s .5s ease infinite;
          animation: animatePalmRight 10s .5s ease infinite;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  position: relative;
  background-color: #f8a293;
  max-width: 75%;
  padding: 25px;
  margin: 50px 0;
}

@media (min-width: 480px) {
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    max-width: 60%;
    padding: 50px;
    margin: 75px 0;
  }
}

@media (min-width: 1200px) {
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    max-width: 60%;
    padding: 75px;
    margin: 150px 0;
  }
}

.preamble::after,
.participation::after,
.requirements::after {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 25px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #003547;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath \a   \a   d='M 5.89 24.675 c -0.441 -0.0785 -0.889 -0.13 -1.321 -0.242 c -0.487 -0.126 -0.9605 -0.3045 -1.438 -0.4665 c -0.08 -0.027 -0.156 -0.077 -0.2215 -0.132 c -0.6165 -0.5145 -1.163 -1.0945 -1.6285 -1.751 c -0.1415 -0.1995 -0.169 -0.395 -0.0825 -0.6245 c 0.0355 -0.095 0.0345 -0.2155 0.014 -0.3175 c -0.1555 -0.7745 -0.3205 -1.5475 -0.479 -2.3215 c -0.014 -0.0675 -0.029 -0.165 0.0065 -0.2065 c 0.1355 -0.1585 0.0765 -0.3215 0.0485 -0.4905 c -0.1385 -0.84 -0.175 -1.684 -0.072 -2.531 c 0.0065 -0.0535 0.009 -0.133 0.0425 -0.1545 c 0.316 -0.201 0.2005 -0.5515 0.299 -0.826 c 0.154 -0.4285 0.305 -0.861 0.5 -1.271 c 0.13 -0.2735 0.19 -0.272 0.508 -0.28 c 0.4175 -1.1 1.378 -1.6525 2.364 -2.271 c -0.304 -0.385 -0.5825 -0.785 -0.908 -1.1415 c -0.693 -0.758 -1.5435 -1.3005 -2.471 -1.7295 c -0.1785 -0.0825 -0.4245 -0.1275 -0.381 -0.409 c 0.0415 -0.2705 0.279 -0.2625 0.478 -0.2945 c 0.635 -0.1025 1.259 -0.029 1.8775 0.1245 c 0.0755 0.0185 0.1505 0.0385 0.2745 0.071 c -0.072 -0.172 -0.1245 -0.3145 -0.1895 -0.451 c -0.387 -0.81 -0.956 -1.488 -1.5515 -2.1465 c -0.048 -0.053 -0.0975 -0.104 -0.1465 -0.1555 c -0.1215 -0.1265 -0.1805 -0.2665 -0.061 -0.4235 c 0.1105 -0.145 0.2575 -0.139 0.4045 -0.064 c 0.478 0.244 0.9725 0.462 1.4265 0.7455 c 0.6285 0.392 1.2255 0.834 1.8435 1.2595 c 0.0175 -0.1875 0.0465 -0.402 0.0565 -0.617 c 0.0725 -1.579 -0.0135 -3.1505 -0.2245 -4.716 c -0.027 -0.2015 -0.0425 -0.4005 0.1775 -0.5175 c 0.0635 0 0.1265 0 0.19 0 c 0.0805 0.1045 0.178 0.2 0.238 0.315 c 0.7495 1.436 1.319 2.9385 1.6575 4.526 c 0.006 0.0275 0.0145 0.054 0.032 0.121 c 0.0535 -0.0835 0.0895 -0.131 0.116 -0.1835 c 0.665 -1.3115 1.553 -2.458 2.575 -3.5065 c 0.13 -0.1335 0.271 -0.2075 0.4375 -0.087 c 0.1695 0.1225 0.1325 0.2835 0.05 0.445 c -0.5075 0.9895 -0.8985 2.0205 -1.095 3.119 c -0.025 0.139 -0.042 0.2795 -0.067 0.45 c 0.2545 -0.166 0.4775 -0.329 0.716 -0.4635 c 0.529 -0.299 1.065 -0.586 1.6 -0.874 c 0.156 -0.084 0.3235 -0.1185 0.4465 0.0515 c 0.131 0.1815 0.024 0.3155 -0.1025 0.456 c -0.413 0.4575 -0.8335 0.9095 -1.217 1.391 c -0.2765 0.347 -0.458 0.7555 -0.5405 1.232 c 0.07 -0.016 0.1255 -0.028 0.1805 -0.042 c 0.473 -0.1215 0.946 -0.243 1.4195 -0.364 c 0.038 -0.0095 0.078 -0.0145 0.117 -0.0175 c 0.169 -0.0145 0.321 0.0075 0.3805 0.1995 c 0.056 0.181 -0.0545 0.2775 -0.187 0.3655 c -0.355 0.236 -0.721 0.4585 -1.0585 0.718 c -0.659 0.5065 -1.211 1.112 -1.58 1.868 c -0.0625 0.1275 -0.1165 0.2595 -0.1705 0.3905 c -0.0855 0.207 -0.0625 0.367 0.0765 0.578 c 0.2275 0.346 0.525 0.6235 0.7695 0.946 c 0.2545 0.3365 0.435 0.729 0.656 1.092 c 0.0405 0.0665 0.1235 0.1065 0.1855 0.16 c 0.0965 0.083 0.226 0.149 0.282 0.2545 c 0.305 0.575 0.4155 1.2055 0.4895 1.8445 c 0.0115 0.1015 0.0215 0.2035 0.034 0.3225 c 0.317 -0.04 0.424 0.156 0.434 0.41 c 0.024 0.615 0.0265 1.231 0.045 1.8465 c 0.0025 0.0825 0.0475 0.1645 0.0745 0.246 c 0.0385 0.1175 0.1045 0.233 0.1125 0.3525 c 0.0485 0.714 -0.06 1.4065 -0.1825 2.1135 c -0.147 0.8515 -0.6285 1.482 -1.0535 2.1665 c -0.036 0.0575 -0.0595 0.1455 -0.044 0.208 c 0.045 0.182 -0.014 0.305 -0.1645 0.4035 c -0.9595 0.6265 -2.0015 1.0345 -3.1365 1.2 c -0.1935 0.028 -0.3855 0.0635 -0.5785 0.095 C 6.7445 24.675 6.3175 24.675 5.89 24.675 z M 6.9175 9.6105 c 0.5465 -0.7435 1.2115 -1.327 2.0115 -1.7315 c 0.359 -0.1815 0.617 -0.3745 0.5925 -0.809 c -0.001 -0.015 0.008 -0.0305 0.014 -0.045 c 0.2135 -0.495 0.427 -0.99 0.6335 -1.4695 c 0.0445 0.004 0.026 -0.0035 0.0165 0.0025 c -0.127 0.0795 -0.2555 0.158 -0.379 0.243 c -1.1395 0.782 -2.1095 1.7145 -2.6865 3.0045 c -0.0545 0.122 -0.174 0.2585 -0.293 0.297 c -0.1775 0.0575 -0.27 -0.117 -0.354 -0.2535 c -0.8685 -1.412 -2.0435 -2.5085 -3.453 -3.363 c -0.0455 -0.0275 -0.097 -0.045 -0.206 -0.0945 c 0.472 0.6305 0.856 1.233 1.057 1.924 c 0.077 0.264 0.196 0.431 0.4525 0.506 c 0.03 0.0085 0.057 0.027 0.085 0.041 C 5.3245 8.312 6.1355 8.914 6.9175 9.6105 z M 9.0065 3.4675 c -0.039 0.043 -0.0815 0.078 -0.1095 0.122 c -0.353 0.553 -0.739 1.0885 -1.045 1.6665 c -0.287 0.542 -0.4885 1.129 -0.727 1.697 c -0.0185 0.0435 -0.031 0.0895 -0.047 0.134 c -0.0685 0.1855 -0.2095 0.237 -0.38 0.1735 c -0.164 -0.0605 -0.215 -0.191 -0.1675 -0.366 c 0.0655 -0.2395 0.1925 -0.4905 0.1665 -0.722 c -0.1215 -1.064 -0.414 -2.0905 -0.785 -3.094 c -0.0835 -0.2255 -0.173 -0.449 -0.2595 -0.6735 c -0.0375 0.037 -0.0425 0.0605 -0.0405 0.0835 c 0.1085 1.258 0.145 2.518 -0.017 3.7715 c -0.0485 0.3765 0.0405 0.6365 0.3145 0.8655 c 0.06 0.05 0.106 0.1175 0.1545 0.18 c 0.233 0.2975 0.4645 0.5955 0.705 0.9045 c 0.385 -0.7385 0.8855 -1.369 1.49 -1.913 c 0.1935 -0.174 0.3255 -0.3445 0.307 -0.6205 c -0.01 -0.1545 0.0285 -0.315 0.061 -0.4695 C 8.747 4.6365 8.8745 4.0675 9.0065 3.4675 z M 6.5765 10.088 c -1.268 -1.1285 -2.648 -2.0725 -4.4095 -2.286 c 0.028 0.0545 0.07 0.0845 0.114 0.1115 c 1.1225 0.683 2.0395 1.5695 2.6945 2.7175 c 0.023 0.0405 0.0455 0.0905 0.0825 0.113 c 0.351 0.2145 0.7055 0.4245 1.018 0.611 C 6.2315 10.9625 6.396 10.5455 6.5765 10.088 z M 6.419 18.064 c -0.2905 0.258 -0.6165 0.5225 -0.91 0.819 c -0.1455 0.147 -0.2385 0.3485 -0.34 0.534 c -0.027 0.049 -0.021 0.1455 0.0105 0.1925 c 0.2995 0.4475 0.665 0.826 1.173 1.0355 c 0.0695 0.029 0.1615 -0.001 0.242 0.0065 c 0.261 0.025 0.345 -0.185 0.4775 -0.3425 c 0.284 -0.338 0.5795 -0.6665 0.9135 -1.048 C 7.4665 18.864 6.9635 18.48 6.419 18.064 z M 3.2755 17.6835 c 0.143 0.208 0.3595 0.539 0.593 0.8575 c 0.1255 0.171 0.2695 0.331 0.4245 0.476 c 0.165 0.154 0.303 0.104 0.4445 -0.0725 c 0.231 -0.2885 0.478 -0.565 0.735 -0.8305 c 0.158 -0.163 0.347 -0.296 0.5585 -0.473 c -0.562 -0.4065 -1.103 -0.7975 -1.7335 -1.253 C 3.979 16.7915 3.6405 17.2205 3.2755 17.6835 z M 3.9145 19.544 c -0.4685 -0.626 -0.938 -1.254 -1.404 -1.877 c -0.4725 0.234 -0.798 0.547 -1.022 0.9625 c -0.031 0.058 -0.0475 0.164 -0.0155 0.2095 c 0.4105 0.589 0.831 1.1715 1.223 1.719 C 3.1195 20.206 3.5295 19.8645 3.9145 19.544 z M 7.246 21.025 c 0.2335 0.1665 0.415 0.3035 0.6045 0.428 c 0.1495 0.0985 0.2905 0.2395 0.501 0.0955 c 0.048 -0.033 0.1655 0.018 0.2425 0.051 c 0.107 0.046 0.2055 0.112 0.3075 0.169 c 0.0205 0.015 0.0415 0.0305 0.062 0.0455 c 0.2095 -0.236 0.422 -0.4695 0.628 -0.7085 c 0.164 -0.19 0.32 -0.387 0.4675 -0.5665 c -0.4895 -0.3885 -0.962 -0.7635 -1.438 -1.1415 C 8.159 19.944 7.713 20.4715 7.246 21.025 z M 6.7345 11.3135 c 0.489 -0.1245 0.9715 -0.233 1.4425 -0.3775 c 0.1275 -0.039 0.287 -0.172 0.319 -0.292 c 0.1775 -0.6695 0.483 -1.2685 0.9215 -1.7975 c 0.259 -0.3125 0.5465 -0.6015 0.822 -0.902 C 8.902 8.1495 7.029 9.949 6.7345 11.3135 z M 8.159 16.6985 c -0.314 0.246 -0.6685 0.5105 -1.007 0.7945 c -0.231 0.194 -0.227 0.248 0.0155 0.4305 c 0.3775 0.2835 0.7665 0.552 1.1495 0.826 c 0.092 -0.006 0.199 -0.007 0.3035 -0.0225 c 0.0635 -0.0095 0.1475 -0.023 0.182 -0.0665 c 0.307 -0.3875 0.605 -0.782 0.908 -1.177 C 9.1935 17.2225 8.6965 16.971 8.159 16.6985 z M 4.54 19.846 c -0.045 0.0335 -0.1215 0.0895 -0.1965 0.1475 c -0.3245 0.251 -0.6495 0.502 -0.973 0.755 c -0.135 0.1055 -0.1335 0.2225 -0.0455 0.3685 c 0.264 0.4395 0.632 0.765 1.052 1.018 c 0.0775 -0.096 0.1345 -0.2075 0.225 -0.2715 c 0.1875 -0.132 0.392 -0.24 0.5915 -0.355 c 0.2305 -0.133 0.463 -0.2625 0.6495 -0.368 C 5.4145 20.715 4.9875 20.291 4.54 19.846 z M 2.7085 14.829 c -0.2345 0.1905 -0.4605 0.3635 -0.6735 0.5505 c -0.1595 0.14 -0.3095 0.292 -0.4485 0.452 c -0.0395 0.0455 -0.0605 0.163 -0.0305 0.205 c 0.227 0.319 0.4565 0.638 0.7115 0.9345 c 0.126 0.1465 0.514 0.1765 0.6165 0.064 c 0.322 -0.354 0.6285 -0.722 0.942 -1.086 C 3.5055 15.6285 3.1115 15.233 2.7085 14.829 z M 8.1305 15.8385 c 0.3255 -0.4195 0.6465 -0.833 0.9415 -1.213 c -0.4015 -0.375 -0.8305 -0.7755 -1.2745 -1.191 c -0.4185 0.3065 -0.81 0.661 -0.962 1.2155 c -0.046 0.1675 -0.0085 0.2775 0.1405 0.378 C 7.38 15.3 7.7745 15.587 8.1305 15.8385 z M 6.226 12.0585 c -0.045 0.02 -0.0815 0.034 -0.1165 0.0515 c -0.4035 0.2055 -0.7195 0.5115 -0.9795 0.877 c -0.0265 0.0375 -0.041 0.1075 -0.025 0.1485 c 0.1865 0.484 0.424 0.9375 0.82 1.287 c 0.1355 0.1195 0.3315 0.074 0.395 -0.0965 c 0.165 -0.4425 0.441 -0.804 0.801 -1.099 c 0.1305 -0.107 0.116 -0.193 0.0215 -0.291 c -0.263 -0.2725 -0.531 -0.5405 -0.7995 -0.8075 C 6.3115 12.097 6.265 12.081 6.226 12.0585 z M 10.344 23.029 c -0.1375 -0.097 -0.2305 -0.1925 -0.3435 -0.2375 c -0.481 -0.192 -0.9685 -0.3695 -1.2635 -0.481 c -0.593 0.538 -1.1065 1.004 -1.6295 1.479 c 0.1305 0.2945 0.1305 0.2945 0.489 0.241 c 0.047 -0.007 0.094 -0.0115 0.141 -0.018 C 8.6655 23.883 9.5165 23.5485 10.344 23.029 z M 6.153 15.123 c -0.3785 0.1975 -0.898 0.7385 -1.068 1.1165 c 0.004 0.007 0.006 0.016 0.0115 0.0205 c 0.436 0.3245 0.87 0.652 1.313 0.9665 c 0.044 0.031 0.1655 0.0025 0.22 -0.039 c 0.2185 -0.168 0.423 -0.354 0.6365 -0.529 c 0.1445 -0.1185 0.295 -0.23 0.476 -0.37 C 7.199 15.89 6.6865 15.514 6.153 15.123 z M 9.209 19.121 c 0.332 0.2605 0.674 0.5265 1.013 0.796 c 0.1515 0.1205 0.315 0.0575 0.397 -0.048 c 0.3175 -0.4085 0.607 -0.8385 0.905 -1.2575 c -0.291 -0.264 -0.547 -0.4985 -0.8055 -0.7305 c -0.28 -0.251 -0.3245 -0.25 -0.591 0.0255 c -0.0875 0.0905 -0.17 0.188 -0.245 0.2895 C 9.6615 18.494 9.4455 18.7955 9.209 19.121 z M 10.987 16.099 c -0.4075 -0.363 -0.8405 -0.749 -1.295 -1.1545 c -0.335 0.263 -0.696 0.5795 -0.904 1.031 c -0.1285 0.2795 -0.104 0.3505 0.1645 0.4905 c 0.3985 0.2075 0.798 0.4155 1.2085 0.597 c 0.072 0.032 0.244 -0.0345 0.2955 -0.108 C 10.654 16.6735 10.822 16.371 10.987 16.099 z M 4.4875 13.3415 c -0.4615 0.263 -0.837 0.666 -1.0625 1.2 c -0.026 0.0615 0.004 0.1835 0.0525 0.2345 c 0.2895 0.3025 0.5895 0.5945 0.891 0.885 c 0.1115 0.107 0.2445 0.15 0.3655 0.015 c 0.251 -0.28 0.495 -0.566 0.708 -0.811 C 5.126 14.361 4.81 13.8565 4.4875 13.3415 z M 7.88 22.1935 c -0.425 -0.309 -0.7995 -0.581 -1.179 -0.857 c -0.242 0.134 -0.4995 0.2695 -0.75 0.417 c -0.252 0.1485 -0.4965 0.309 -0.7915 0.4935 c 0.5715 0.362 1.073 0.68 1.5835 1.003 C 7.117 22.903 7.496 22.5505 7.88 22.1935 z M 8.338 13.079 c 0.34 0.457 0.722 0.8275 1.2065 1.0815 c 0.275 0.144 0.7635 -0.1605 0.703 -0.4635 c -0.117 -0.586 -0.3875 -1.105 -0.806 -1.521 C 9.063 12.4855 8.7045 12.779 8.338 13.079 z M 3.9875 22.59 c -0.5015 -0.3415 -0.9425 -0.741 -1.231 -1.287 c -0.019 -0.036 -0.1095 -0.0635 -0.1555 -0.0515 c -0.33 0.0865 -0.62 0.2485 -0.91 0.5035 c 0.476 0.5155 0.934 1.012 1.3745 1.489 C 3.3975 23.0085 3.6855 22.804 3.9875 22.59 z M 6.571 24.065 c -0.4085 -0.7455 -1.234 -0.8615 -1.734 -1.353 c -0.404 0.283 -0.784 0.549 -1.194 0.836 C 4.614 23.8985 5.56 24.043 6.571 24.065 z M 9.614 21.9615 c 0.3215 0.1575 0.649 0.318 1.0145 0.4965 c 0.2645 -0.4385 0.534 -0.886 0.805 -1.335 c -0.2845 -0.1545 -0.531 -0.288 -0.7595 -0.412 C 10.322 21.1265 9.967 21.545 9.614 21.9615 z M 3.467 12.1415 c -0.4975 0.418 -0.898 0.898 -0.9595 1.587 c -0.0245 0.273 -0.0025 0.2935 0.265 0.285 c 0.0755 -0.0025 0.1515 0.02 0.178 0.024 c 0.345 -0.381 0.671 -0.7405 0.989 -1.0915 C 3.7935 12.6975 3.635 12.428 3.467 12.1415 z M 7.749 12.7755 c 0.0565 -0.0265 0.1195 -0.043 0.166 -0.0805 c 0.2745 -0.224 0.548 -0.45 0.817 -0.681 c 0.317 -0.272 0.319 -0.3665 0.066 -0.653 c -0.617 0.1715 -1.2125 0.337 -1.87 0.5195 c 0.1875 0.176 0.328 0.2925 0.45 0.426 C 7.5045 12.4455 7.613 12.6015 7.749 12.7755 z M 5.48 11.663 c -0.1035 -0.064 -0.285 -0.171 -0.4615 -0.2855 c -0.134 -0.087 -0.2615 -0.085 -0.3995 -0.0105 c -0.6805 0.367 -0.745 0.43 -0.258 1.1345 c 0.1365 0.197 0.236 0.192 0.3935 0.011 C 4.9925 12.2375 5.2265 11.96 5.48 11.663 z M 11.565 16.489 c -0.23 0.077 -0.605 0.5835 -0.583 0.8025 c 0.003 0.0275 0.019 0.06 0.0395 0.0785 c 0.1655 0.1495 0.3335 0.296 0.543 0.481 C 11.565 17.3605 11.565 16.923 11.565 16.489 z M 11.0005 15.3415 c 0.0215 -0.0095 0.043 -0.019 0.064 -0.0285 c -0.086 -0.411 -0.172 -0.8225 -0.264 -1.2645 c -0.5025 0.5565 -0.49 0.755 0.0345 1.169 C 10.889 15.2605 10.945 15.3005 11.0005 15.3415 z M 11.7995 19.358 c -0.0205 -0.0075 -0.041 -0.015 -0.062 -0.022 c -0.2155 0.3015 -0.431 0.603 -0.664 0.9295 c 0.1615 0.088 0.3 0.164 0.4935 0.27 C 11.6505 20.112 11.725 19.735 11.7995 19.358 z M 1.81 17.391 c -0.191 -0.2265 -0.3705 -0.439 -0.59 -0.7 c 0.0385 0.4045 0.0705 0.747 0.1065 1.1245 C 1.507 17.6565 1.654 17.5275 1.81 17.391 z M 1.5855 14.8995 c 0.0255 0.0095 0.0515 0.019 0.077 0.028 c 0.1785 -0.146 0.3575 -0.2925 0.5355 -0.438 c -0.126 -0.164 -0.234 -0.304 -0.376 -0.489 C 1.7345 14.333 1.66 14.6165 1.5855 14.8995 z M 1.6545 20.1075 c -0.0165 0.008 -0.033 0.016 -0.05 0.024 c 0.0555 0.271 0.111 0.5425 0.1705 0.8335 c 0.125 -0.064 0.233 -0.119 0.3635 -0.1855 C 1.968 20.5425 1.811 20.325 1.6545 20.1075 z' \a   \a   fill='%232b5563' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media (min-width: 480px) {
  .preamble::after,
  .participation::after,
  .requirements::after {
    top: 50px;
    left: 50px;
  }
}

@media (min-width: 1200px) {
  .preamble::after,
  .participation::after,
  .requirements::after {
    top: 75px;
    left: 75px;
  }
}

.main div:nth-of-type(2n-1) {
  background-color: #f3ffb9;
  text-align: right;
  margin-left: auto;
}

.main div:nth-of-type(2n-1)::after {
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 25px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #005e82;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23437a8d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media (min-width: 480px) {
  .main div:nth-of-type(2n-1)::after {
    top: 50px;
    right: 50px;
  }
}

@media (min-width: 1200px) {
  .main div:nth-of-type(2n-1)::after {
    top: 75px;
    right: 75px;
  }
}

.requirements p:last-child {
  font-size: 18px;
  font-style: italic;
  padding: 50px 0 0 0;
}

footer {
  text-align: center;
  padding: 50px;
}

footer a {
  width: 45px;
}

@media (min-width: 1200px) {
  footer a {
    width: 75px;
  }
}

footer .zen-validate-html {
  content: url(icons/icons-01.svg);
}

footer .zen-validate-html:hover {
  content: url(icons/icons-01-hover.svg);
}

footer .zen-validate-css {
  content: url(icons/icons-02.svg);
}

footer .zen-validate-css:hover {
  content: url(icons/icons-02-hover.svg);
}

footer .zen-license {
  content: url(icons/icons-03.svg);
}

footer .zen-license:hover {
  content: url(icons/icons-03-hover.svg);
}

footer .zen-accessibility {
  content: url(icons/icons-04.svg);
}

footer .zen-accessibility:hover {
  content: url(icons/icons-04-hover.svg);
}

footer .zen-github {
  content: url(icons/icons-05.svg);
}

footer .zen-github:hover {
  content: url(icons/icons-05-hover.svg);
}

aside {
  background-color: #003547;
  color: #fff;
}

aside:before {
  content: "";
  background-image: url(images/149662.svg);
  background-color: #fff;
  height: 50vw;
  width: 100%;
  display: block;
}

aside a {
  color: #fff;
  text-decoration: none;
}

aside a:hover {
  color: #f8a293;
}

aside .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 480px) {
  aside .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  aside .wrapper .design-selection {
    grid-row: span 2;
  }
}

@media (min-width: 1200px) {
  aside .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

aside .wrapper div {
  padding: 10px;
}

@media (min-width: 1200px) {
  aside .wrapper div {
    padding: 30px;
  }
}

aside ul {
  padding: 0;
}

aside li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */