@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

$dark-blue: #003547;
$blue: #005e82;
$yellow: #f3ffb9;
$pink: #f8a293;
$white: #fff;

$heading-font: "Lobster", cursive;
$paragraph-font: "Raleway", sans-serif;

//FONTS
p {
  font-family: $paragraph-font;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: $heading-font;
  font-size: 80px;
  margin: 0;
}
h2{
  font-family: $paragraph-font;
  font-size: 30px;
}
h3{
  font-family: $heading-font;
  font-size: 40px;
}

a {
  font-family: $paragraph-font;
  color: $dark-blue;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.summary a {
  color: $pink;
}

body,
.page-wrapper {
  margin: 0;
}

//HEADER
header,
.summary {
  background-color: $dark-blue;
  color: $white;
  padding: 30px;
  text-align: center;
}

//CONTENT
@keyframes slide-in-left {
  from {transform: translateX(100%); opacity:0}
  to {transform: translateX(0%); opacity:1}
}

@keyframes slide-in-right {
  from {transform: translateX(-100%); opacity:0}
  to {transform: translateX(0%); opacity:1}
}
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  background-color: $pink;
  max-width: 60%;
  padding: 75px;
  margin: 150px 0;
  box-shadow: 75px 75px 0 $blue;
  animation: slide-in-left 2s;
}

.main div:nth-of-type(2n-1) {
  text-align: right;
  margin-left: auto;
  box-shadow: -75px 75px 0 $blue;
  animation: slide-in-right 2s;
}

.requirements p:last-child{
  font-size: 18px;
  font-style: italic;
  padding: 50px 0 0 0;
}

//ICONS
footer {
  text-align: center;
  padding: 50px;

  a {
    width: 75px;
  }
  .zen-validate-html {
    content: url(icons/icon-1.svg);
  }

  .zen-validate-css {
    content: url(icons/icon-2.svg);
  }

  .zen-license {
    content: url(icons/icon-3.svg);
  }

  .zen-accessibility {
    content: url(icons/icon-4.svg);
  }

  .zen-github {
    content: url(icons/icon-5.svg);
  }
}

//FOOTER
aside {
  background-color: $dark-blue;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
    &:hover{
      color: $pink;
  }
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper div {
    padding: 30px;
  }

  h3 {
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
