@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --rows1: #e7f0ed;
    --rows2: #e7ffed;
    --header: #628ca6;
    --head-foot: #7fb9c2;
  
    /* change the values below to your chosen font(s) */
    --font: 'Ubuntu', sans-serif;
}
table{
    border-collapse: collapse;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(98, 140, 166, 0.8);
    margin: 0 auto;
}
table, th, td{
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: var(--font);
    padding: 10px;
}
thead{
    background-color: var(--head-foot);
    font-size: 1.2em;
}
tfoot{
    background-color: var(--head-foot);
    font-size: 0.8em;
}
table tbody th{
    background-color: var(--header);
    color: white;
}
table tbody tr{
    background-color: var(--rows2);
}
table tr:nth-of-type(2n){
    background-color: var(--rows1);
}
.acheived{
    background-color: var(--header);
    color: white;
}
