:root {
    --color1: #10B7AF;
    
    --heading-font: 'Gabriela', serif;
    --paragraph-font: 'Roboto', sans-serif;
}

main{
    width: 400px;
    margin: 0 auto;
}
#task-board{
    margin: 20px 0;
}
button.no-border{
    border: none;
    background-color: transparent;
    font-size: 30px;
}

#all_Task_display{
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}
#all_Task_display p{
    margin: 0;
    padding: 10px 5px;
}
li{
    list-style-type: none;
}
p.checked{
    text-decoration: line-through;
}

#task-foot{
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
}
#task-foot p{
    display: inline;
}
#foot-buttons{
    display: inline;
    float: right;
}
#foot-buttons button{
    border: none;
    background-color: transparent;
}

#new-task{
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-gap: 5px;
}
#new-task input{
    border-radius: 4px;
    border: 1px solid black;
}
#new-task button{
    border-radius: 4px;
    border: none;
    background-color: var(--color1);
}
