@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Color Scheme
Ghost White: #F2F4FF
Baby Blue: #A9D3FF
Medium Blue: #54A1F2
Light Green: #93ACB5
Dark Green: #595F58

Sage: #CDC392
Alabaster: #E8E5DA
Light blue: #9EB7E5
Medium blue: #648DE5
Dark Blue: #304C89
Darker blue: #1e2e52
*/
:root {
    /* change the values below to your colors from your palette */
    --color1: #CDC392;
    --color2: #E8E5DA;
    --color3: #9EB7E5;
    --color4: #648DE5;
    --color5: #304C89;
    --color6: #1e2e52;
    --links: #1e2e52;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Merienda One', cursive;
    --paragraph-font: 'Roboto Condensed', sans-serif;
}
h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--color5);
}
h1{
    font-size: 20pt;
}
h2{
    font-size: 16pt;
}
h3{
    font-size: 13pt;
}
h4{
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
h5{
    font-family: var(--paragraph-font);
    font-size: 12pt;
    color: var(--color5);
}
p, figcaption{
    font-family: var(--paragraph-font);
    font-size: 11pt;
}
a{
    color: var(--links);
    font-family: var(--paragraph-font);
    font-size: 11pt;
}
img{
    max-width: 100%;
}

/********************************** TOP TEXT **********************************/
.top-text{
    text-align: center;
    background-color: var(--color5);
    
    padding: 30px;
}
.top-text h2{
    margin: 0;
    color: var(--color1);
}

/********************************** HEADER **********************************/
header{
    background-color: var(--color3);
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: center; 
}

.logo{
    width: 90px;
    padding-right: 30px;
}

/********************************** NAV **********************************/
nav{
    background-color: var(--color5);
    text-align: center;
}
nav button{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--color3);
    font-family: var(--paragraph-font);
    width: 100%;
    padding: 8px;
}
nav ul{
    max-width: 960px;
    list-style-type: none;
	margin: 0 auto;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
nav ul li a{
    display: block;
    width: 100%;
    color: var(--color2);
    text-decoration: none;
    padding: 15px;
}
nav ul li a:hover {
	background-color: var(--color3);
	color: var(--color5);
}
nav .active {
	color: var(--color1);
}
nav ul.hide{
    display: none;
}

/********************************** BODY **********************************/
body{
    background-color: var(--color2);
    position: relative;
    min-height: 100vh;
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    padding-bottom: 140px;
}
.pageTitle{
    text-align: center;
}
/********************************** LAZY LOAD **********************************/
.lazy-gallery-imgs img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    filter: blur(0em);
    transition: filter 0.5s;
}
.lazy-gallery-imgs img[data-src]{
    filter: blur(0.2em);
    
}
/********************************** GALLERY **********************************/
.photo-gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 960px;
    
}
.gallery-imgs{
    background-color: white;
    margin: 0;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 8px #111;
    transition: 0.3s;
}
.gallery-imgs figcaption{
    padding: 10px;
}
.photo-gallery img{
    width: 100%;
}
/********************************** STORM CENTER **********************************/
form fieldset{
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%; 
    font-family: var(--paragraph-font);
}
form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
}
form label.top input, form label.top select, form label.top textarea{
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 96%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1)
}
form label.sbs{
    display: block;
    padding: .75rem 0;
}
form input.submitB{
    border: none;
    background-color: var(--color5);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: var(--paragraph-font);
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
/********************************** HERO **********************************/
#hero{
    margin: 0;
    position: relative;
    width: 100%;
}
#hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

/********************************** WEATHER SUMMARY **********************************/
.weatherSummary hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.weatherSummary{
    position: absolute;
	top: 25px;
	right: 50px;
	background: rgba(158,183,229,.9);
	padding: 25px;
	box-shadow: 0 0 30px #111;
    opacity: .8;
}
.weatherSummary h3{
    margin: 0;
}
.weatherSummary p{
    line-height: 20px;
    margin: 0;
}
.mobile-hide{
    display: none;
}

/********************************** 5 DAY FORECAST **********************************/
.forecast{
    text-align: center;
}
.forecast_table{
    margin: 0 auto;
}
.forecast_table th {
    padding: 10px 25px 10px 25px;
    background-color: var(--color5);
    color: var(--color2);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.forecast_table, .forecast_table td {
    font-family: var(--paragraph-font);
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-collapse: collapse;
    background-color: white;
}

/********************************** ARTICLE **********************************/
.articles{
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.articles img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    max-width: 350px;
    max-height: 233px;
    width: 100%;
    height: 100%;
}
.byLine{
    font-style: italic;
    color: rgba(0, 0, 0, 0.6)
}
.articles p{
    line-height: 20px;
}

/********************************** CONTACT **********************************/
.contact{
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    height: 360px;
}
.contact-text{
    display: inline-block;
    text-align: left;
}
#contact-map{
    float: left;
}
.contact-icon{
    height: 13px;
    margin: 0 auto;
}
.social-icon{
    height: 40px;
}

/********************************** FOOTER **********************************/
footer{
    background-color: var(--color3);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    font-family: var(--paragraph-font);
    font-size: 11pt;
    line-height: 20px;
}
#mod{
    color: var(--links);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }