.card-front{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
}
.left{
    grid-column: 2 / span 3;
}
.right{
    grid-column: 5 / span 3;
}
.center{
    grid-column: span 8;
}