@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Color Scheme
Ghost White: #F2F4FF
Baby Blue: #A9D3FF
Medium Blue: #54A1F2
Light Green: #93ACB5
Dark Green: #595F58

Sage: #CDC392
Alabaster: #E8E5DA
Light blue: #9EB7E5
Medium blue: #648DE5
Dark Blue: #304C89
Darker blue: #1e2e52
*/
:root {
    /* change the values below to your colors from your palette */
    --color1: #CDC392;
    --color2: #E8E5DA;
    --color3: #9EB7E5;
    --color4: #648DE5;
    --color5: #304C89;
    --color6: #1e2e52;
    --links: #1e2e52;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Merienda One', cursive;
    --paragraph-font: 'Roboto Condensed', sans-serif;
}
.placeholder{
    background-color: rgb(0,0,0,.2);
    border: 1px dashed #000;
    padding: 20px;
    margin: 10px;
}
h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--color5);
}
h1{
    font-size: 20pt;
}
h2{
    font-size: 16pt;
}
h3{
    font-size: 13pt;
}
h4{
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
p{
    font-family: var(--paragraph-font);
    font-size: 11pt;
}
a{
    color: var(--links);
    font-family: var(--paragraph-font);
    font-size: 11pt;
}
header{
    background-color: var(--color3);
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: center; 
}

#logo{
    height: 90px;
    padding-right: 30px;
}

nav{
    background-color: var(--color5);
    text-align: center;
}
nav button{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--color3);
    font-family: var(--paragraph-font);
    width: 100%;
    padding: 8px;
}
nav ul{
    max-width: 960px;
    list-style-type: none;
	margin: 0 auto;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
nav ul li a{
    display: block;
    width: 100%;
    color: var(--color2);
    text-decoration: none;
    padding: 15px;
}
nav ul li a:hover {
	background-color: var(--color3);
	color: var(--color5);
}
nav .active {
	color: var(--color1);
}
nav ul.hide{
    display: none;
}
body{
    background-color: var(--color2);
    position: relative;
    min-height: 100vh;
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 140px;
}
.pageTitle{
    text-align: center;
}
#hero{
    margin: 10px auto;
    position: relative;
    max-width: 960px;
}
#hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
    height: auto;
}
.weatherSummary hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.weatherSummary{
    position: absolute;
	top: 25px;
	right: 50px;
	background: rgba(158,183,229,.8);
	padding: 25px;
	box-shadow: 0 0 30px #111;
    opacity: .8;
}
.weatherSummary h3{
    margin: 0;
}
.weatherSummary p{
    line-height: 20px;
    margin: 0;
}
.mobile-hide{
    display: none;
}
.forecast{
    text-align: center;
}
.forecast_table{
    margin: 0 auto;
}
.forecast_table th {
    padding: 10px 25px 10px 25px;
    background-color: var(--color5);
    color: var(--color2);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.forecast_table, .forecast_table td {
    font-family: var(--paragraph-font);
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-collapse: collapse;
    background-color: white;
}
.forecast .fas{
    font-size: 70px;
    padding: 10px;
}
.fa-cloud-sun-rain{
    color: var(--color5);
}
.fa-cloud-sun{
    color: var(--color4);
}
.fa-sun{
    color: orange;
}
.articles{
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.articles img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    max-width: 490px;
    width: 100%;
}
.byLine{
    font-style: italic;
    color: rgba(0, 0, 0, 0.6)
}
.articles p{
    line-height: 20px;
}
.contact{
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    height: 360px;
}
.contact-text{
    display: inline-block;
    text-align: left;
}
.contact img{
    float: left;
}
.contact .fas{
    padding-right: 10px;
}
.contact .fab{
    padding-right: 10px;
    font-size: 30px;
}
footer{
    background-color: var(--color3);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    font-family: var(--paragraph-font);
    font-size: 11pt;
    line-height: 20px;
}
#mod{
    color: var(--links);
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }