/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 16pt;
    }
    h3{
        font-size: 14pt;
    }
    h4{
        font-family: var(--paragraph-font);
        font-size: 12pt;
    }
    .logo{
        width: 110px;
        padding-right: 30px;
    }
    nav ul.hide{
        display: flex;
        width: 100%;
    }
    nav button{
        display: none;
    }
    nav li{
        flex: 3;
        text-align: center;
    }
    .mobile-hide{
        display: block;
    }
    .siteT{
        top: 65%;
    }
    .siteT h1{
        font-size: 20pt;
    }
    .siteT h4{
        font-size: 12pt;
    }

    .business-cards{
        grid-template-columns: 1fr;
    }

    .purpose{
        padding: 50px 0;
    }
    .purp-icons{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
    }

    .event-cards{
        grid-template-columns: 1fr 1fr;
    }

    .weather-cards{
        grid-template-columns: 1fr 1fr;
    }

    .home-contact{
        padding: 50px 30px;
        max-width: 960px;
        margin: 0 auto;
    }
}   