
//colors
$body-background-color: darkred;
$form-background-color: tan;
$input-color: white;
$headlines-color : white;

//breakpoints
$break-medium: 320px;
$break-large: 769px;

@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    } @else if $break == medium {
        @media (min-width: $break-medium) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}   

@mixin center($c-width, $c-max-width: 960px) {
    width: $c-width;
    max-width: $c-max-width;
    margin-left: auto;
    margin-right: auto;
} 

@mixin flex-box($row-column, $wrap: nowrap){
    display: flex;
    flex-flow: $row-column $wrap;
}

body {
    background-color: $body-background-color; 
    
}
h1{
    color: $headlines-color;
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @include breakpoint(medium) { @include center(90%, 700px); } 
    @include breakpoint(large) { @include center(70%, 900px); } 
    
}

#contactform div{
    
    @include breakpoint(medium) { 
        @include flex-box(column);

        label{
            flex: 1;
        }
    }

    @include breakpoint(large) { 
        @include flex-box(row);
        padding: 5px 0;
        
        label{
            text-align: right;
            margin-right: 5px;
        }
    }
        
    
    input, textarea{
        @include breakpoint(medium) {width: 100%; }
        @include breakpoint(large) {max-width: 500px; }
        
    }
    
}