@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Color Scheme
Ghost White: #F2F4FF
Baby Blue: #A9D3FF
Medium Blue: #54A1F2
Light Green: #93ACB5
Dark Green: #595F58

Sage: #CDC392
Alabaster: #E8E5DA
Light blue: #9EB7E5
Medium blue: #648DE5
Dark Blue: #304C89
*/
:root {
    /* change the values below to your colors from your palette */
    --color1: #CDC392;
    --color2: #E8E5DA;
    --color3: #9EB7E5;
    --color4: #648DE5;
    --color5: #304C89;
    --links: #304C89;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Merienda One', cursive;
    --paragraph-font: 'Roboto Condensed', sans-serif;
  }

header{
    background-color: var(--color4);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--color5);
}
h1{
    font-size: 28pt;
}
h2{
    font-size: 20pt;
}
h3{
    font-size: 16pt;
}
p{
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
a{
    color: var(--links);
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
#return-home{
    float: left;
    padding-left: 20px;
}
nav {
	background-color: var(--color2);
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
ul {
	list-style-type: none;
	margin: 0 auto;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 13pt;
}
nav ul li a {
	display: block;
	color: var(--color5);
	text-align: center;
	padding: 15px;
	text-decoration: none;
}
nav a:hover {
	background-color: var(--color3);
	color: var(--color2);
}
nav .active {
	color: var(--color4);
}
body{
    background-color: var(--color3);
    position: relative;
    min-height: 100vh;
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-bottom: 120px;
}
#audience-main p, #audience-main li{
    text-align: left;
}
.w-borders, .personas{
    margin: 0 auto;
    width: 100%;
}
.personas li{
    text-align: left;
}
.personas td{
    width: 50%;
    vertical-align: top;
}
.w-borders th {
    padding: 15px 0 15px 0;
    background-color: var(--color5);
    color: white;
}
.w-borders, .w-borders td {
    font-family: var(--paragraph-font);
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;
    background-color: white;
}
img{
    max-width: 100%;
}
footer{
    background-color: var(--color4);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
}
#mod{
    color: var(--links);
}
/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    nav ul { 
        display: grid;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    nav ul { 
        width: 55%;
    }
}