@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Shadows+Into+Light&display=swap');
/* Color Scheme
Ghost White: #F2F4FF
Baby Blue: #A9D3FF
Medium Blue: #54A1F2
Light Green: #93ACB5
Dark Green: #595F58

Sage: #CDC392
Alabaster: #E8E5DA
Light blue: #9EB7E5
Medium blue: #648DE5
Dark Blue: #304C89
*/
:root {
    /* change the values below to your colors from your palette */
    --color1: #CDC392;
    --color2: #E8E5DA;
    --color3: #9EB7E5;
    --color4: #648DE5;
    --color5: #304C89;
    --links: #304C89;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Gabriela', serif;
    --paragraph-font: 'Nanum Myeongjo', Helvetica, sans-serif;
  }

header{
    background-color: var(--color3);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
h1, h2, h3{
    font-family: var(--heading-font);
}
a{
    color: var(--links);
}
#return-home{
    float: left;
    padding-left: 20px;
}
nav {
	background-color: var(--color2);
    text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
nav ul li a {
	display: block;
	color: var(--color5);
	text-align: center;
	padding: 15px;
	text-decoration: none;
}
nav a:hover {
	background-color: var(--color4);
	color: var(--color2);
}
nav .active {
	color: var(--color4);
}
footer{
    background-color: var(--color3);
    text-align: center;
    padding: 20px 0;
}
#mod{
    color: var(--links);
}
/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    nav ul { 
        display: grid;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    nav ul { 
        width: 55%;
    }
}