html,
body {
    height: 100%;
}
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container {
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
}

/**************************************** CONTAINER 1 ****************************************/
@keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } /* don't change for 5% of the time...pause */
    25% { transform: translate(300%,0%); } /* start moving again */
    30% { transform: translate(300%,0%); } /* pause */
    50% { transform: translate(300%,300%); } /* move */
    55% { transform: translate(300%,300%); }
    75% { transform: translate(0%,300%); }
    80% { transform: translate(0%,300%); }
    100% { transform: translate(0%,0%); }
}

.c-1 {
    padding: 1vmin;
    box-sizing: border-box;
}

.circle-1 {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
}

/**************************************** CONTAINER 2 ****************************************/
@keyframes morphing-circle-square {
    0% {border-radius: 50%}
    25% { 
        border-radius: 50%;
        background-color: darkred;
    }
    50% { 
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);
    }
    75% { 
        border-radius: 0%;
        background-color: white;
        transform: rotate(90deg);   
    }
    100% {
        border-radius: 50%;
        background-color: darkred;
        transform: rotate(90deg);
    }
}

.c-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-2 {
    height: 25%;
    width: 25%;
    background-color:darkred;	
    border-radius: 50%;
    animation: morphing-circle-square 3s linear infinite;
}

/**************************************** CONTAINER 3 ****************************************/
@keyframes splitting-circle-left{
    0% { transform: translateX(0); }
    5% { transform: translateX(0); } 
    25% { transform: translateX(-50%); } 
    55% { transform: translateX(-50%); }
    75% { transform: translateX(0%); }
    100% { transform: translateX(0%); }
}

@keyframes splitting-circle-right{
    0% { transform: translateX(0); }
    5% { transform: translateX(0); } 
    25% { transform: translateX(50%); } 
    55% { transform: translateX(50%); }
    75% { transform: translateX(0%); }
    100% { transform: translateX(0%); }
}
.c-3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-3-left{
    height: 25%;
    width: 12.5%;
    background-color:darkred;
    border-radius: 150px 0 0 150px;
    animation: splitting-circle-left 2s ease-out infinite;
}
.circle-3-right{
    height: 25%;
    width: 12.5%;
    background-color:darkred;
    border-radius: 0 150px 150px 0;
    animation: splitting-circle-right 2s ease-out infinite;
}

/**************************************** CONTAINER 4 ****************************************/
@keyframes pulsing-circle{
    0% { transform: scale(1); }
    22% { transform: scale(1); }
    25% { transform: scale(1.2); }
    28% { transform: scale(1); }
    72% { transform: scale(1); }
    75% { transform: scale(1.2); }
    78% { transform: scale(1); }
    81% { transform: scale(1.2); }
    84% { transform: scale(1); }
    100% { transform: scale(1); }
}
.c-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-4{
    height: 25%;
    width: 25%;
    background-color:darkred;
    border-radius: 50%;
    animation: pulsing-circle 3s linear infinite;
}
