@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//colors
$head-bg-color: #6495ED;
$body-bg-color: #FAEBD7;
$nav-text: #FAEBD7;
$nav-text-active: #DEB887;
$nav-text-hover: white;
$article-heading: black;
$article-heading-hover: #6495ED;
$article-heading-active: #DEB887;
$article-bg-color: white;
$article-link-color: #6495ED;
$article-link-active: #DEB887;
$article-date-color: rgba(0,0,0,.5);

//fonts
$heading-font: 'Lora', serif;
$body-font: Helvetica, Arial, sans-serif;

$section-padding: 30px;
$article-img-width: 80%;
$article-img-max-width: 250px;

//breakpoints
$break-medium: 320px;
$break-large: 900px;

@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    } @else if $break == medium {
        @media (min-width: $break-medium) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}  

/***************************** MOBILE SITE *****************************/
body{
    margin: 0;
    div:nth-of-type(1){
        @include breakpoint(large){
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    }
    
}
header{
    background-color: $head-bg-color;
    padding: $section-padding;
}
main{
    background-color: $body-bg-color;
    padding: $section-padding;
}
h1, h2{
    font-family: $heading-font;
}
li, div, p{
    font-family: $body-font;
}
nav{
    li{padding: 5px 0;}
    
    ul{
        list-style-type: none;
        text-align: right;
    }
    a{
        color: $nav-text;
        text-decoration: none;
        :hover{
            color: $nav-text-hover;
            text-decoration: underline;
        }
        :active{
            color: $nav-text-active;
        }
    }
}
h1, h1 a{
    color: $nav-text;
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    :hover{
        color: $nav-text-hover;
        text-decoration: underline;
    }
}
article{
    @include breakpoint(large) {margin: 50px;}
    padding: $section-padding;
    background-color: $article-bg-color;
    margin: 20px 0 40px 0;
    box-shadow: 3px 3px 2px rgba(0,0,0,.2);
    div.post-date{
        color: $article-date-color;
    }
    h2{
        margin: 5px 0 30px 0;
        a{
            text-decoration: none;
            color: $article-heading;
            :hover{
                color: $article-heading-hover;
                text-decoration: underline;
            }
            :active{
                color: $article-heading-active;
            }
        }
    }
    figure img{
        display: block;
        margin: 0 auto;
        max-width: $article-img-max-width;
        width: $article-img-width;
    }
    p a{
        color: $article-link-color;
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }
        :active{
            color: $article-link-active;
        }
    }
}


